<h1>Welcome to Aloe Vera Health & Beauty Store!</h1>
<p>Our wide range of products includes drinks, supplements, skincare, personal care and weight management.</p>

<p>Aloe Vera is used in a wide range of products, for example skin and hair care products, as well as beauty and make-up,<br />
  Aloe Vera juice, supplements and nutrition, and more recently in household cleaners.
<p>In fact, the list of uses continues to grow as we rediscover why the Aloe Vera plant was so highly regarded in the first place,<br/>
  which nurtures a huge interest and provides a demand for these products on the market.  </p>

  <p>There are many Aloe Vera manufacturers of different brands available in the marketplace in our days. </p>

<p>For the purpose of this Project, we have chosen Aloe Vera products produced by Forever Living Products Company.</p>
